@import "../scss/Mixins.scss";
@import "../scss/Functions.scss";
@import "../scss//Vars.scss";
main {
  @include flex-centered();
  .main__start {
    position: relative;
    height: 50vh;
    @include mobil() {
      width: rem(350);
    }
    @include tablet() {
      width: rem(400);
    }
    &__scissors,
    &__paper,
    &__rock {
      position: absolute;
      border: 20px solid transparent;
      padding: rem(30);
      border-radius: 50%;
    }
    &__triangle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__paper {
      background: linear-gradient(white, white) padding-box,
        linear-gradient($Paper-Gradient) border-box;
      left: 0;
      @include mobil() {
        top: 0;
      }
      @include tablet() {
        top: 15%;
      }
      @include desktop() {
        top: 0;
      }
    }
    &__scissors {
      background: linear-gradient(white, white) padding-box,
        linear-gradient($Scissors-Gradient) border-box;
      right: 0;
      @include mobil() {
        top: 0;
      }
      @include tablet() {
        top: 15%;
      }
      @include desktop() {
        top: 0;
      }
    }
    &__rock {
      background: linear-gradient(white, white) padding-box,
        linear-gradient($Rock-Gradient) border-box;
      left: 50%;
      transform: translate(-50%);
      @include mobil() {
        bottom: 0;
      }
      @include tablet() {
        bottom: 15%;
      }
      @include desktop() {
        bottom: 0;
      }
    }
  }
}
