$Scissors-Gradient: #ec9e0e, #eca922;
$Paper-Gradient: #4865f4, #5671f5;
$Rock-Gradient: #dc2e4e, #dd405d;
$Lizard-Gradient: #834fe3, #8c5de5;
$Cyan: #40b9ce, #52bed1;

$Dark-Text: #3b4363;
$Score-Text: #2a46c0;
$Header-Outline: #606e85;

$Radial-Gradient: #1f3756, #141539;
